.productsPage {
  margin-top: 10px;
  height: calc(100vh - 88px);

  .rowProduct {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #f8f8f8;
    justify-content: space-evenly;
  }
}