.navWrapper {
	background: #FFFFFF;
	box-shadow: inset 0px -1px 0px #F8F8F8;
	height: 80px;
	display: flex;
	align-items: center;
	padding: 0 47px;
	justify-content: space-between;

	a {
		text-transform: uppercase;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		color: #363636;

		span {
			color: #5A8BF3;
		}
	}

	img {
		width: 50px;
		height: 50px;
	}

	.blackThemeOff {
		transform: rotate(180deg);
	}

	.blackThemeOn {
		transform: rotate(0deg);
	}
}

.navWrapperBlack {
	background: #333;

	img {
		filter: invert(1);
	}

	a {
		color: #fff;
	}
}