.mainWrapper {
  height: calc(100vh - 88px);
  width: 100%;
  background: rgb(252,252,252);
  box-shadow: inset -1px 0px 0px #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column;

  .infoRow {
    margin: 30px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .linkRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}