.linkCategoryWrapper {
  width: 400px;
  height: 414px;
  background: #FFFFFF;
  box-shadow: 0 12px 12px -8px rgba(97, 97, 97, 0.04);
  border-radius: 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imgTop {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 120px;
      width: 120px;
    }
  }

  .imgPink {
    background: linear-gradient(135.95deg, #FAA6A4 0%, #E87CC4 98.4%);
  }

  .imgBlue {
    background: linear-gradient(135.95deg, #7BADFA 0%, #3D92F0 98.4%, #687EFF 98.4%);
  }


  h2 {
    margin-top: 20px;
    font-size: 24px;

    &:hover {
      color: red;
      transition: 1s;
      transform: scale(1.4);
    }
  }

  p {
    color: #878787;
    font-size: 18px;
    margin-top: 20px;
  }
}