.infoWrapper {
  width: 500px;
  height: 294px;
  background: #FFFFFF;
  box-shadow: 0 12px 12px -8px rgba(97, 97, 97, 0.04);
  border-radius: 10px;
  padding: 50px;
  position: relative;

  .arrowRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;

    &:hover {
      transition: .5s;
      transform: scale(1.2);
    }
  }

  .arrowLeft {
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 30px;

    &:hover {
      transition: .5s;
      transform: scale(1.2);
    }
  }

  h2 {
    text-align: center;
    font-size: 18px;

    span {
      color: #878787;
      font-size: 16px;
    }
  }

  .infoContent {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: 18px;

      span {
        color: #878787;
        font-size: 16px;
      }
    }

    .infoImg {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EAEAEA;

      img {
        height: 120px;
        width: 120px;
      }
    }
  }
}