.navWrapper {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #F8F8F8;
  height: 88px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}