.warehousesPage {
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;

  .wareInfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .thisProd {
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px #f8f8f8;
      height: 300px;
      max-width: 600px;
      width: 100%;

      p {
        padding: 10px 0 10px 0;
      }

      .prodName {
        display: flex;
        align-items: center;
        border: 1px solid #F0F0F0;
        height: 40px;
      }
    }

    .thisWare {
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px #f8f8f8;
      height: 300px;
      max-width: 300px;
      width: 100%;
      position: relative;

      p {
        padding: 10px 0 10px 0;
      }

      .wareName {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        height: 80%;
      }
      .arrowRight {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;

        &:hover {
          transition: .5s;
          transform: scale(1.2);
        }
      }

      .arrowLeft {
        position: absolute;
        right: 20px;
        top: 0;
        width: 30px;
        height: 30px;

        &:hover {
          transition: .5s;
          transform: scale(1.2);
        }
      }
    }
  }

  .unallocatedWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .unallocatedProd {
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px #f8f8f8;
      height: 300px;
      max-width: 800px;
      width: 100%;
      overflow: auto;

      p {
        padding: 10px 0 10px 0;
      }

      .productInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #F0F0F0;
        height: 40px;
        cursor: grab;
      }
    }
  }
}