.productsPage {
  height: calc(100vh - 88px);

  .mainRow {
    display: flex;
    padding: 10px;
    p {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #000;
    }

    .id {
      max-width: 50px;
      width: 100%;
    }

    .name {
      max-width: 200px;
      width: 100%;
    }

    .warehouse {
      max-width: 200px;
      width: 100%;
    }

    .count {
      max-width: 50px;
      width: 100%;
    }
  }

  .rowProduct {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #f8f8f8;
    justify-content: space-between;

    .productInfo {
      display: flex;

      p {
        font-size: 14px;
        line-height: 18px;
        color: #000;
      }

      .id {
        width: 50px;
      }

      .name {
        width: 200px;
      }

      .warehouse {
        width: 200px;
      }

      .count {
        width: 50px;
      }
    }

    .btnPanel {
      display: flex;

      button {
        margin-right: 10px;
        outline: none;
        border: 0;
        width: 159px;
        height: 50px;
        background: linear-gradient(94.63deg, #68D9D9 -4.6%, #62B3DA 101.84%);
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }
  }
}