* {
	font-family: 'Gilroy', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: 1s;
}

html, body {
	box-sizing: border-box;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
}