.modalWrapper {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  height: calc(100vh - 90px);
  background: rgba(0, 0, 0, 0.6);
  align-items: center;

  div {
    width: 200px;
    height: 150px;
    background: linear-gradient(135.95deg, #F5B450 0%, #ED6573 98.4%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}